/*-- scss:defaults --*/

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/style/fonts/Inter-Light.woff2") format("woff2");
}

@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("/style/fonts/Inter-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/style/fonts/Inter-Bold.woff2") format("woff2");
}

@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/style/fonts/Inter-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("/style/fonts/Inter-ExtraBoldItalic.woff2") format("woff2");
}

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,700;1,300;1,700&display=swap");

$font-family-sans-serif: "Inter", Helvetica, sans-serif !default;
$font-family-monospace: "JetBrains Mono", monospace !default;
$presentation-heading-font: "DM Serif Text", serif !default;

/*-- scss:rules --*/
.reveal {

  p, li {
    opacity: 0.9;
    filter: drop-shadow(0 0 16px #00000099);
  }

  p.caption {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50%;
    opacity: 75%;
    text-align: center;
  }

  blockquote {
    color: black;
    opacity: 0.75;
  }

  h1, h2, h3, h4, .title-content {
    filter: drop-shadow(0 0 16px #00000099);
  }

  h2 {
    margin-block-end: 1em;
  }

  .small {
    font-size: 75%;
  }

  .has-table {
    .oi-3a86ea-table {
      max-height: 100% !important;
      padding-left: 0;
    }

    table {
      background: #00000033;
      border-radius: 0.5em;
      font-size: 0.7em !important;
      margin-top: 0.5em;

      thead {
        th {
          background: transparent;
        }
      }

      input[type="checkbox"] {
        width: 0.75em;
        height: 0.75em;
      }
    }
  }

  .slides .title-slide {
    
    margin-top: 15%;
    
    h1 {
      line-height: 80%;
    }
  }
  
  /* blur non-title backgrounds */
  .backgrounds {
    .slide-background.stack {
      .slide-background.level1 {
        .slide-background-content {
          scale: 1.1;
        }
      }
      
      .slide-background.level2 {
        .slide-background-content {
          filter: blur(20px);
          scale: 1.1;
        }
      }
    }
  }
}

#timeseries-controls {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;
  
  form {
    select {
      appearance: none;
      background: #00000066;
      background: right/10% no-repeat url(/assets/arrow-down.svg);
      border: none;
      border-bottom: 1px solid white;
      padding: 0.2em;
      font-size: 80%;
      opacity: 75%;
      position: relative;

      &:focus {
        border-radius: 0.5em;
        border: 4px solid black;
        outline: none;
      }
    }
  }
}
